{% extends '@Oksana2luckyWarehouse/base.html.twig' %}

{% block title %}Warehouse | Product{% endblock %}

{% block body %}
    <div class="container">
        <h2>Product - {{ product.name }}</h2>

        <ul>
            <li>Sku: {{ product.sku }}</li>
            <li>Price: {{ product.price }}</li>
        </ul>

        <div>
            {{ include('@Oksana2luckyWarehouse/product/stocks.html.twig') }}
        </div>

        <div>
            {{ include('@Oksana2luckyWarehouse/product/add.html.twig') }}
        </div>
    </div>
{% endblock %}
